<form class="example-form" (submit)="search()">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Enter ID" [(ngModel)]="searchId" name="searchId">
  </mat-form-field>

  <section class="buttons-row">
    <div class="example-button-row">
      <button mat-flat-button color="accent" type="submit">Search</button>
    </div>
    <div class="example-button-row">
      <button mat-flat-button color="warn" (click)="deleteElement()">Delete</button>
    </div>
  </section>
</form>
