<section class="center-elements">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ex. Name" value />
        </mat-form-field>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Ex. Username" value />
          </mat-form-field>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. example@gmail.com" value />
            </mat-form-field>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Bio</mat-label>
                <input matInput placeholder="Ex. bio..." value />
              </mat-form-field>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Photo</mat-label>
                  <input matInput placeholder="Ex. XX/x/xx/x/x//x/x/x/" value />
                </mat-form-field>
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <mat-label>Followers Counts</mat-label>
                    <input matInput placeholder="Ex. 1200" value />
                  </mat-form-field>
                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>Login</mat-label>
                      <input matInput placeholder="Ex. login" value />
                    </mat-form-field>
                    <form class="example-form">
                      <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Ex. -------------" value />
                      </mat-form-field>
                      <div class="example-button-row">
                        <button mat-raised-button color="primary">Create</button>
                      </div>
                    </form>
                  </form>
                </form>
              </form>
            </form>
          </form>
        </form>
      </form>
      
</section>
